/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary-color: #000;
  --secondary-color: #0088FF;
}

:root {
  --primary-bg: rgb(132,90,223);
  --primary-bg-4: rgb(132,90,223, 0.4);
  --primary-bg-0: rgb(132,90,223, 0);
  --secondary-bg: rgb(35,183,229);
  --secondary-bg-4: rgb(35,183,229, 0.4);
  --secondary-bg-0: rgb(35,183,229, 0);
  --hover-bg: rgba(132, 90, 223, 0.05);
  --border-bg: #f3f3f3;
}


:root{
  --vz-blue: #3577f1;
    --vz-indigo: #405189;
    --vz-purple: #6559cc;
    --vz-pink: #f672a7;
    --vz-red: #f06548;
    --vz-orange: #f1963b;
    --vz-yellow: #f7b84b;
    --vz-green: #0ab39c;
    --vz-teal: #02a8b5;
    --vz-cyan: #299cdb;
    --vz-white: #fff;
    --vz-gray: #878a99;
    --vz-gray-dark: #343a40;
    --vz-gray-100: #f3f6f9;
    --vz-gray-200: #eff2f7;
    --vz-gray-300: #e9ebec;
    --vz-gray-400: #ced4da;
    --vz-gray-500: #adb5bd;
    --vz-gray-600: #878a99;
    --vz-gray-700: #495057;
    --vz-gray-800: #343a40;
    --vz-gray-900: #212529;
    --vz-primary: #405189;
    --vz-secondary: #3577f1;
    --vz-success: #0ab39c;
    --vz-info: #299cdb;
    --vz-warning: #f7b84b;
    --vz-danger: #f06548;
    --vz-light: #f3f6f9;
    --vz-dark: #212529;
    --vz-primary-rgb: 64,81,137;
    --vz-secondary-rgb: 53,119,241;
    --vz-success-rgb: 10,179,156;
    --vz-info-rgb: 41,156,219;
    --vz-warning-rgb: 247,184,75;
    --vz-danger-rgb: 240,101,72;
    --vz-light-rgb: 243,246,249;
    --vz-dark-rgb: 33,37,41;
    --vz-primary-text-emphasis: #364574;
    --vz-secondary-text-emphasis: #2d65cd;
    --vz-success-text-emphasis: #099885;
    --vz-info-text-emphasis: #2385ba;
    --vz-warning-text-emphasis: #d29c40;
    --vz-danger-text-emphasis: #cc563d;
    --vz-light-text-emphasis: #ced4da;
    --vz-dark-text-emphasis: #343a40;
    --vz-primary-bg-subtle: #e2e5ed;
    --vz-secondary-bg-subtle: #e1ebfd;
    --vz-success-bg-subtle: #daf4f0;
    --vz-info-bg-subtle: #dff0fa;
    --vz-warning-bg-subtle: #fef4e4;
    --vz-danger-bg-subtle: #fde8e4;
    --vz-light-bg-subtle: #f9fbfc;
    --vz-dark-bg-subtle: #e9ebec;
    --vz-primary-border-subtle: #b3b9d0;
    --vz-secondary-border-subtle: #aec9f9;
    --vz-success-border-subtle: #9de1d7;
    --vz-info-border-subtle: #a9d7f1;
    --vz-warning-border-subtle: #fce3b7;
    --vz-danger-border-subtle: #f9c1b6;
    --vz-light-border-subtle: #eff2f7;
    --vz-dark-border-subtle: #adb5bd;
    --vz-white-rgb: 255,255,255;
    --vz-black-rgb: 0,0,0;
    --vz-font-sans-serif: "Poppins",sans-serif;
    --vz-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --vz-gradient: linear-gradient(180deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,0));
    --vz-body-font-family: var(--vz-font-sans-serif);
    --vz-body-font-size: .8125rem;
    --vz-body-font-weight: 400;
    --vz-body-line-height: 1.5;
    --vz-body-color: #212529;
    --vz-body-color-rgb: 33,37,41;
    --vz-body-bg: #f3f3f9;
    --vz-body-bg-rgb: 243,243,249;
    --vz-emphasis-color: #212529;
    --vz-emphasis-color-rgb: 33,37,41;
    --vz-secondary-color: #878a99;
    --vz-secondary-color-rgb: 135,138,153;
    --vz-secondary-bg: #fff;
    --vz-secondary-bg-rgb: 255,255,255;
    --vz-tertiary-color: rgba(33,37,41,.5);
    --vz-tertiary-color-rgb: 33,37,41;
    --vz-tertiary-bg: #eff2f7;
    --vz-tertiary-bg-rgb: 239,242,247;
    --vz-heading-color: #495057;
    --vz-link-color: #405189;
    --vz-link-color-rgb: 64,81,137;
    --vz-link-decoration: none;
    --vz-link-hover-color: #405189;
    --vz-link-hover-color-rgb: 64,81,137;
    --vz-code-color: #f672a7;
    --vz-highlight-color: #212529;
    --vz-highlight-bg: #fcf8e3;
    --vz-border-width: 1px;
    --vz-border-style: solid;
    --vz-border-color: #e9ebec;
    --vz-border-color-translucent: #ced4da;
    --vz-border-radius: .25rem;
    --vz-border-radius-sm: .2rem;
    --vz-border-radius-lg: .3rem;
    --vz-border-radius-xl: 1rem;
    --vz-border-radius-xxl: 2rem;
    --vz-border-radius-2xl: var(--vz-border-radius-xxl);
    --vz-border-radius-pill: 50rem;
    --vz-box-shadow: 0 1px 2px rgba(56,65,74,.15);
    --vz-box-shadow-sm: 0 0.125rem 0.25rem rgba(0,0,0,.075);
    --vz-box-shadow-lg: 0 5px 10px rgba(30,32,37,.12);
    --vz-box-shadow-inset: inset 0 1px 2px rgba(0,0,0,.075);
    --vz-focus-ring-width: .25rem;
    --vz-focus-ring-opacity: .25;
    --vz-focus-ring-color: rgba(var(--vz-primary-rgb),0.25);
    --vz-form-valid-color: #0ab39c;
    --vz-form-valid-border-color: #0ab39c;
    --vz-form-invalid-color: #f06548;
    --vz-form-invalid-border-color: #f06548;
}


:root{
  --vz-table-color-type: initial;
  --vz-table-bg-type: initial;
  --vz-table-color-state: initial;
  --vz-table-bg-state: initial;
  --vz-table-color: var(--vz-body-color);
  --vz-table-bg: transparent;
  --vz-table-border-color: var(--vz-border-color);
  --vz-table-accent-bg: transparent;
  --vz-table-striped-color: var(--vz-body-color);
  --vz-table-striped-bg: rgba(var(--vz-body-color-rgb),0.02);
  --vz-table-active-color: var(--vz-body-color);
  --vz-table-active-bg: rgba(var(--vz-body-color-rgb),0.04);
  --vz-table-hover-color: var(--vz-body-color);
  --vz-table-hover-bg: rgba(var(--vz-body-color-rgb),0.04);
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

